.mosaico{
    width: 100%;
    box-sizing: border-box;
}

.mosaico .s3{
    width: 100%;
}

.mosaico .s3 div{
    display: inline-block;
    position: relative;
    width: 33.33%;
}

.mosaico .s3 a.mask{
    /*position:absolute;*/
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    /*padding: 15% 15px;*/
}
.mosaico .s3 a.mask h3{
    /*position: absolute;*/
    font-size: 1.5em;
    width: 100%;
    left: 0px;
    top: 0px;
    /*text-align: center;*/
    color: #333;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0px;
    font-family: "Bebas Neue",helvetica,sans-serif;
    padding: 0 5px;
    box-sizing: border-box;
}

.mosaico .s1{
    width: 100%;
}

.mosaico .s1 div{
    position: relative;
    width: 100%;
    height: 100%;
}

.mosaico .s1 div a.mask{
    /*position: absolute;*/
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*padding: 15% 15px;*/
    box-sizing: border-box;
}

.mosaico .s1 div a.mask h3{
    /*position: absolute;*/
    /*text-align: center;*/
    width: 100%;
    top: 0;
    font-size: 36px;
    left: 0;
    color: #333;
    background-color: rgba(255,255,255,0.5);
    margin: 0;
    padding: 5px 0;
    font-family: "Bebas Neue",helvetica,sans-serif;
    text-align: center;
}