.videos-slideshow{
    width: 100%;
    margin: 10px 0;
    border-top: #FFF solid 2px;
}

.videos-slideshow h1{
    text-align: center;
}

.videos-slideshow .videos-ssitem{
    width: 25%;
    float: left;
}

.videos-slideshow .videos-ssitem img{
    width: 100%;
}

.videos-slideshow .videos-ssitem a{
    color: #FFF;
}

@media all and (max-width:600px){
    .videos-slideshow .videos-ssitem{
        width: 100%;
    }
}